annotated-types==0.6.0
anyio==4.7.0
appdirs==1.4.4
asgiref==3.8.1
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
bcrypt==4.3.0
Brotli==1.0.9
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.3.2
constantly==23.10.4
coverage==7.6.9
cryptography==44.0.1
daphne==4.2.0
distro==1.9.0
Django==5.2
django-cors-headers==4.7.0
django-ninja==1.4.2
django-stubs==5.2.0
django-stubs-ext==5.2.0
djangorestframework==3.16.0
drf-yasg==1.21.7
flake8==7.1.1
groq==0.26.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
inflection==0.5.1
iniconfig==1.1.1
Jinja2==3.1.6
jiter==0.6.1
legacy-cgi==2.6.3
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.14.1
mypy_extensions==1.0.0
networkx==3.4.2
openai==1.77.0
packaging==24.2
pip==25.0
pluggy==1.5.0
psutil==5.9.0
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.12.1
pycparser==2.21
pydantic==2.10.3
pydantic_core==2.27.1
pyflakes==3.2.0
PyJWT==2.10.1
pyOpenSSL==25.0.0
PySocks==1.7.1
pytest==8.3.4
pytest-cov==6.0.0
pytz==2024.1
PyYAML==6.0.2
removestar==1.5.2
requests==2.32.3
ruff==0.9.1
sentry-sdk==2.29.1
service-identity==18.1.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.0
sqlparse==0.5.2
toml==0.10.2
tomli==2.0.1
tqdm==4.67.1
Twisted==24.11.0
txaio==23.1.1
types-PyYAML==6.0.12.12
types-requests==2.30.0.0
types-urllib3==1.26.25.13
typing_extensions==4.12.2
uritemplate==4.2.0
urllib3==2.3.0
wheel==0.45.1
zope.interface==7.1.1
